<mat-toolbar class="header mat-elevation-z6" color="primary">
    <mat-toolbar-row>
        <span><h1>
          <img src="assets/images/cherry.gif">
          <span class="title">Delicious Fruit 2.0</span>
        </h1></span>
        <span class="fill-remaining-space"></span>
        <span>
          <button mat-raised-button i18n *ngIf="!isLoggedIn()" (click)="showLogin()">Login</button>
          <button mat-raised-button i18n *ngIf="!isLoggedIn()" (click)="showRegister()">Register</button>

          <span class="username" *ngIf="isLoggedIn()">{{getUser().name}}</span>
          <button mat-raised-button i18n *ngIf="isLoggedIn()" (click)="logout()">Logout</button>
        </span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <nav>
            <a mat-button i18n routerLink="/dashboard">Dashboard</a>
            <a mat-button i18n routerLink="/games">Games</a>
            <a mat-button i18n target="_blank" href="http://www.twitch.tv/team/thewannabes">Twitch Team</a>
            <a mat-button i18n target="_blank" href="http://www.fangam.es/intro">Intro</a>
          </nav>
    </mat-toolbar-row>
</mat-toolbar>

<app-login *ngIf="showIt" (close)="closeModal($event)"></app-login>