.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.title {
  margin-left: 0.25em;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

div.header {
  margin: 0;
  padding: 0.25em;
}