
<img 
    [src]="'/assets/images/badges/'+id+'.png'"
    [matTooltip]='text'
    matTooltipClass="my-tooltip">
<template *ngIf="id==1"  #template i18n="@@badge - administrator">Admin#One In Charge.</template>
<template *ngIf="id==2"  #template i18n="@@badge - wannabe">Wannabe#Member of the Twitch.tv Wannabes</template>
<template *ngIf="id==3"  #template i18n="@@badge - founder">Founder#Here since the dawn of time. Or at least the beginning of this site.</template>
<template *ngIf="id==4"  #template i18n="@@badge - translator">Translator#A multilingual wizard.</template>
<template *ngIf="id==5"  #template i18n="@@badge - donator">Donator#Sellout.</template>
<template *ngIf="id==6"  #template i18n="@@badge - game maker">Game Maker#One who dabbles in the dark arts of fangame creation.</template>
<template *ngIf="id==7"  #template i18n="@@badge - collaborator">Collaborator#We work better together.</template>
<template *ngIf="id==8"  #template i18n="@@badge - 1 report">Good Guy#Sniped an error on the site. Dude nice.</template>
<template *ngIf="id==9"  #template i18n="@@badge - 10 reports">Keeping it Clean#Sniped even more errors on the site. Nice dude.</template>
<template *ngIf="id==10" #template i18n="@@badge - 1 screenshot">First Screenshot#Baby's first screenshot. Wonderful!</template>
<template *ngIf="id==11" #template i18n="@@badge - 10 screenshots">Shutterbug#Uploaded quite a few screenshots. Neat!</template>
<template *ngIf="id==12" #template i18n="@@badge - 50 screenshots">Photographer#Uploaded even more screenshots! Wow!</template>
<template *ngIf="id==13" #template i18n="@@badge - 100 screenshots">Paparazzi#Uploaded a triple-digit number of screenshots! Nice work!</template>
<template *ngIf="id==14" #template i18n="@@badge - 500 screenshots">Scene Director#Uploaded an obscene amount of screenshots! Amazing!</template>
<template *ngIf="id==15" #template i18n="@@badge - 1000 screenshots">Ken Burns#Undercover freelance fangame photographer. Incredible job!</template>
<template *ngIf="id==16" #template i18n="@@badge - 1 review">First Review#One review for one review...er.</template>
<template *ngIf="id==17" #template i18n="@@badge - 10 reviews">Fangame Critic#A novice reviewer.</template>
<template *ngIf="id==18" #template i18n="@@badge - 50 reviews">Fangame Judge#An experienced reviewer.</template>
<template *ngIf="id==19" #template i18n="@@badge - 100 reviews">Fangame Analyst#An expert reviewer.</template>
<template *ngIf="id==20" #template i18n="@@badge - 500 reviews">The Ultimate Reviewer#Leave no fangame unreviewed. A true reviewer.</template>
<template *ngIf="id==21" #template i18n="@@badge - 1000 reviews">Xplayerlol's Assistant#No stone left unturned.</template>
<template *ngIf="id==22" #template i18n="@@badge - 1 rating">First Rating#A rating for you, my pretty!</template>
<template *ngIf="id==23" #template i18n="@@badge - 25 ratings">Classifier#More ratings for more games!</template>
<template *ngIf="id==24" #template i18n="@@badge - 100 ratings">Professional Grader#More ratings, more fun! A true rate master.</template>
<template *ngIf="id==25" #template i18n="@@badge - 1 clear">First Clear#Stage one cleared!</template>
<template *ngIf="id==26" #template i18n="@@badge - 10 clears">A Clearer..er#10 games cleared! That's double digits!</template>
<template *ngIf="id==27" #template i18n="@@badge - 50 clears">Savage Mountain Climber#50 games cleared. You can't even count that high with your fingers!</template>
<template *ngIf="id==28" #template i18n="@@badge - 100 clears">Centurion#That's a lot of clears</template>
<template *ngIf="id==29" #template i18n="@@badge - 250 clears"></template>
<template *ngIf="id==30" #template i18n="@@badge - 500 clears">Pentaconta x 10#At least it wasn't the same game every time</template>
<template *ngIf="id==31" #template i18n="@@badge - 1000 clears">Millenial#Get off their lawn... and in front of the PC</template>
<template *ngIf="id==32" #template i18n="@@badge - 2000 clears"></template>
<template *ngIf="id==33" #template i18n="@@badge - 3000 clears"></template>
<template *ngIf="id==34" #template i18n="@@badge - 4000 clears">Geezer's Acolyte#Following in the footsteps of giants</template>
<template *ngIf="id==35" #template i18n="@@badge - 5000 clears">Fangame Prodigy#I didn't even know there were this many games</template>
<template *ngIf="id==36" #template i18n="@@badge - 10000 clears">Unbelievable#How... just how...</template>
<template *ngIf="id==37" #template i18n="@@badge - 1 favorite">First Favorite#&lt;3</template>
<template *ngIf="id==38" #template i18n="@@badge - 10 favorites">Lots of love#The &lt;3 goes on.</template>
<template *ngIf="id==39" #template i18n="@@badge - 1 game submit">Game Submitter#Submitted a game!</template>
<template *ngIf="id==40" #template i18n="@@badge - 10 games submit">Game Proposer#Hey, you missed one</template>
<template *ngIf="id==41" #template i18n="@@badge - 1 like">First Like#Liked a review!</template>
<template *ngIf="id==42" #template i18n="@@badge - 25 likes">Likes a lot#Liked a bunch of reviews! Great!</template>
<template *ngIf="id==43" #template i18n="@@badge - 100 likes">Obvious Facebook User#Liked a truckload full of reviews! What a nice guy!</template>
<template *ngIf="id==44" #template i18n="@@badge - 1 tag">First Tag#One tag! ( •ᴗ•)</template>
<template *ngIf="id==45" #template i18n="@@badge - 25 tags">Seasoned Tagger#Tagged a lot more! ( •ᴗ•)</template>
<template *ngIf="id==46" #template i18n="@@badge - 100 tags">Graffiti Artist#Tagged a ton! ( •ᴗ•)</template>
<template *ngIf="id==47" #template i18n="@@badge - 1 review w/ 5+ likes">Good review#Wrote a well-recieved review!</template>
<template *ngIf="id==48" #template i18n="@@badge - 25 reviews w/ 5+ likes">Great reviews#Wrote amazing reviews! Job well done!</template>
<template *ngIf="id==49" #template i18n="@@badge - 1 year anniversary">1 Year Anniversary</template>
<template *ngIf="id==50" #template i18n="@@badge - 2 year anniversary">2 Year Anniversary</template>
<template *ngIf="id==51" #template i18n="@@badge - 3 year anniversary">3 Year Anniversary</template>
<template *ngIf="id==52" #template i18n="@@badge - 4 year anniversary">4 Year Anniversary</template>
<template *ngIf="id==53" #template i18n="@@badge - 5 year anniversary">5 Year Anniversary</template>
<template *ngIf="id==54" #template i18n="@@badge - 10 year anniversary">10 Year Anniversary</template>
<template *ngIf="id==55" #template i18n="@@badge - 2015 top contributor">2015 Top Contributor</template>
<template *ngIf="id==56" #template i18n="@@badge - 2016 top contributor">2016 Top Contributor</template>
<template *ngIf="id==57" #template i18n="@@badge - 2017 top contributor">2017 Top Contributor</template>
<template *ngIf="id==58" #template i18n="@@badge - 2018 top contributor">2018 Top Contributor</template>
<template *ngIf="id==59" #template i18n="@@badge - 2019 top contributor">2019 Top Contributor</template>
<template *ngIf="id==60" #template i18n="@@badge - 2020 top contributor">2020 Top Contributor</template>
<template *ngIf="id==61" #template i18n="@@badge - speedrunner">Speedrunner#Gotta go fast</template>
<template *ngIf="id==62" #template i18n="@@badge - spook jam participant">Spook Jam Participant#Spooky!</template>
<template *ngIf="id==63" #template i18n="@@badge - jingle jam participant">Jingle Jam Participant#Merry!</template>
<template *ngIf="id==64" #template i18n="@@badge - fm 2015 participant">Fangame Marathon 2015 Participant</template>
<template *ngIf="id==65" #template i18n="@@badge - fm 2016 participant">Fangame Marathon 2016 Participant</template>
<template *ngIf="id==66" #template i18n="@@badge - fm 2017 participant">Fangame Marathon 2017 Participant</template>
<template *ngIf="id==67" #template i18n="@@badge - fm 2018 participant">Fangame Marathon 2018 Participant</template>
<template *ngIf="id==68" #template i18n="@@badge - fm 2019 participant">Fangame Marathon 2019 Participant</template>
<template *ngIf="id==69" #template i18n="@@badge - fm 2020 participant">Fangame Marathon 2020 Participant</template>