<form (ngSubmit)="ok()">
<h1 mat-dialog-title i18n="@@login dialog header">Login</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Username" name="username"
            type="text" [(ngModel)]="data.username" i18n-placeholder="@@login dialog username label" />
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Password" name="password"
            type="password" [(ngModel)]="data.password" i18n-placeholder="@@login dialog password label" />
    </mat-form-field>
    <app-captcha-notice></app-captcha-notice>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="cancel()" i18n="@@login cancel button">Cancel</button>
    <button mat-raised-button 
        color="primary" 
        [mat-dialog-close]="data" 
        type="submit" i18n="@@login ok button">Ok</button>
    <button mat-button (click)="forgot()" i18n="@@login forgot password button">Forgot Password?</button>
</div>
</form>