<form [formGroup]="group" (ngSubmit)="ok()">
    <h1 i18n="@@password reset page header">Password Reset</h1>
    <div>
        <p i18n="@@password reset page explanation">Reset your delicious-fruit password here.</p>
        <p>
        <mat-form-field>
            <input matInput placeholder="Password" i18n-placeholder="@@password reset new password label"
                name="password" id="password" formControlName="password"
                [type]="hide ? 'password' : 'text'"
                required minlength="6"/>
            <button mat-icon-button matSuffix (click)="hide = !hide" type="button"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.hasError('required')" i18n="@@password reset no password error">You must enter a password.</mat-error>
            <mat-error *ngIf="password.hasError('minlength')" i18n="@@password reset password too short error">Passwords must be at least 6 characters long.</mat-error>
        </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput placeholder="Re-Enter your password" i18n-placeholder="@@password reset confirm password label"
                    name="password2" id="password2" formControlName="password2"
                    [type]="hide ? 'password' : 'text'"
                    required minlength="6"/>
                <button mat-icon-button matSuffix (click)="hide = !hide" type="button"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password2.hasError('required')" i18n="@@password reset no password error">You must enter a password.</mat-error>
                <mat-error *ngIf="password2.hasError('minlength')" i18n="@@password reset password too short error">Passwords must be at least 6 characters long.</mat-error>
            </mat-form-field>
        </p>
        <mat-error *ngIf="group.hasError('notEquivalent')" i18n="@@password reset assword doesn't match error">Passwords must match.</mat-error>
        <app-captcha-notice></app-captcha-notice>
    </div>
    <div>
        <button mat-raised-button class="form-button" type="reset" i18n="@@password reset clear fields button">Reset</button>
        <button mat-raised-button class="form-button" 
            [disabled]="!group.valid"
            color="primary" 
            type="submit" i18n="@@password reset submit button">Submit</button>
    </div>
</form>