<form (ngSubmit)="ok()">
<h1 mat-dialog-title i18n>Register</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Username" type="text" i18n-placeholder
            required minlength="4" 
            [(ngModel)]="data.username" name="username"/>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Password"  type="password" i18n-placeholder
            required minlength="6" 
            [(ngModel)]="data.password" name="password"/>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Confirm Password"  type="password" i18n-placeholder 
            required minlength="6" 
            [(ngModel)]="data.passwordConfirm" name="confirm"/>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Email" type="text" i18n-placeholder 
            [(ngModel)]="data.email" name="email"/>
    </mat-form-field>
    <app-captcha-notice></app-captcha-notice>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="cancel()" i18n>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data" type="submit" i18n>Ok</button>
</div>
</form>