<div class="container">
  <table mat-table [dataSource]="games" *ngIf="!loading" 
    matSort (matSortChange)="sort($event)">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="game list, name header">Game</th>
      <td mat-cell *matCellDef="let game">
        <a mat-button routerLink="/game/{{game.id}}">{{game.name}}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="date_created">
      <th mat-header-cell *matHeaderCellDef class="no-mobile" mat-sort-header i18n="gane list, release date header">Released</th>
      <td mat-cell *matCellDef="let game" class="no-mobile">{{(game.date_created | date) || 'N/A'}}</td>
    </ng-container>
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef class="no-mobile" mat-sort-header i18n>Rating</th>
      <td mat-cell *matCellDef="let game" class="no-mobile">
        {{game.rating!==null
          ?(game.rating/10 | number:'1.1-1')
          :'N/A'}}
      </td>
    </ng-container>
    <ng-container matColumnDef="difficulty">
      <th mat-header-cell *matHeaderCellDef class="no-mobile" mat-sort-header i18n>Difficulty</th>
      <td mat-cell *matCellDef="let game" class="no-mobile">
        {{game.difficulty!==null
          ?(game.difficulty | number:'1.1-1')
          :'N/A'}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>  
  <mat-paginator 
    [length]="total"
    [pageSize]="params.limit"
    [pageIndex]="params.page"
    (page)="page($event)"></mat-paginator>
  <div *ngIf="loading" i18n>Loading...
  </div>
</div>