tr:nth-child(even) {
  background-color: #ccc;
}

tr:nth-child(odd) {
  background-color: #ddd;
}

table {
  border-collapse: collapse;
  padding: 0.5em;
}

td {
  padding-left: 0.25em;
  padding-right: 0.25em;
  color: black;
}

th {
  padding-left: 0.25em;
  padding-right: 0.25em;
  border: 1px solid black;
  color: black;
}

td.value {
  text-align: center;
}

div.container table {
  width: 100%;
}