<div *ngIf="loading">
  <h2 i18n="@@game page loading message">Loading...</h2>
</div>

<div *ngIf="game && !loading">
  <div class="game-content">
    <ng-container *ngIf="!editing">
      <h2>{{game.name}}</h2>
    </ng-container>
    <ng-container *ngIf="editing">
      <mat-form-field>
        <input matInput placeholder="Game Name" [(ngModel)]="game.name">
      </mat-form-field>
    </ng-container>

    <div>
      <ng-container *ngIf="!editing">
        <ng-container [ngPlural]="game.author.length">
          <ng-template ngPluralCase="=0">Creators:</ng-template>
          <ng-template ngPluralCase="=1">Creator:</ng-template>
          <ng-template ngPluralCase="other">Creators:</ng-template>
        </ng-container>
        {{game.author.join(", ")}}
      </ng-container>
      <ng-container *ngIf="editing">
        <mat-form-field>
          <input matInput placeholder="Creator(s)" [(ngModel)]="game.author">
        </mat-form-field>
      </ng-container>
    </div>

    <ng-container *ngIf="editing">
      <mat-form-field>
        <input matInput placeholder="Owner ID" [(ngModel)]="game.ownerId">
      </mat-form-field>
    </ng-container>

    <div class="rating" [ngStyle]="{'background-color': rateColor(game.rating)}">
      <div i18n="@@game page average rating box">Average Rating</div>
      <div class="value">
        {{game.rating | rating}}<br>
        {{game.rating!==null
          ?rateNames[(game.rating/10 | number:'1.0-0')]
          :'&nbsp;'
        }}
      </div>
    </div>
    <div class="rating" [ngStyle]="{'background-color': diffColor(game.difficulty)}">
      <div i18n="@@game page average difficulty box">Average Difficulty</div>
      <div class="value">
        {{game.difficulty | difficulty}}<br>
        {{game.difficulty!==null
          ?diffNames[(game.difficulty/10 | number:'1.0-0')]
          :'&nbsp;'
        }}
      </div>
    </div>

    <div>
      <ng-container *ngIf="!editing">
        <ng-container i18n="@@game page release date label">Release Date:</ng-container> {{game.dateCreated ? (game.dateCreated | date) : 'Not Available'}}
      </ng-container>
      <ng-container *ngIf="editing">
        <mat-form-field>
          <input matInput [matDatepicker]="createdPicker" [(ngModel)]="game.dateCreated" placeholder="Release Date">
          <mat-datepicker-toggle matSuffix [for]="createdPicker"></mat-datepicker-toggle>
          <mat-datepicker #createdPicker></mat-datepicker>
        </mat-form-field>
      </ng-container>
    </div>

    <ng-container *ngIf="!editing">
      <div *ngIf="game.url">
        <a mat-raised-button target="_blank" href="{{game.url}}" i18n="@@game page download button">
          Download Game
        </a>
      </div>
      <div *ngIf="!game.url" i18n="@@game page private game message">
        Private Game
      </div>
    </ng-container>
    <ng-container *ngIf="editing">
      <mat-form-field>
        <input matInput placeholder="Download Link" [(ngModel)]="game.url">
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="!editing">
      <mat-card *ngIf="categories" class="leaderboard">
        <mat-card-header>
          <mat-card-title>
            <a class="leaderboard-link" [href]="game.urlSpdrn" target="_blank">
              Speedrun.com Leaderboards
            </a>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let run of runs">
            <span [ngSwitch]="run.place">
              <img *ngSwitchCase="1" src="/assets/images/sr/1st.png"/>
              <img *ngSwitchCase="2" src="/assets/images/sr/2nd.png"/>
              <img *ngSwitchCase="3" src="/assets/images/sr/3rd.png"/>
            </span>
            {{run.place | ordinal}}: 
            <a class="leaderboard-link" 
              *ngIf="players[run.run.players[0].id]"
              [href]="players[run.run.players[0].id].weblink" 
              target="_blank">
              {{players[run.run.players[0].id]?.names?.international || '...'}}
            </a> 
            <a class="leaderboard-link" 
              [href]="run.run.weblink" 
              target="_blank">
              ({{run.run.times.primary_t | speedrunTimer}})
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-container *ngIf="editing">
      <mat-form-field>
        <input matInput placeholder="Speedrun.com Link" [(ngModel)]="game.urlSpdrn">
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="this.user && this.user.isAdmin">
      <div *ngIf="!editing">
        <button mat-raised-button (click)="editing = true" i18n="@@game page admin edit button">
          Edit Game
        </button>
      </div>
      <div *ngIf="editing">
        <button mat-raised-button (click)="saveChanges()" i18n="@@game page admin save button">
          Save Changes
        </button>
      </div>
    </ng-container>

    <app-list *ngIf="user && game"
      [user_id]="user.id"
      [game_id]="game.id">
    </app-list>

    <div class="tag-list">
      <app-tag-list 
        *ngIf="game" 
        [game_id]="game.id">
      </app-tag-list>
    </div>

    <div>
      <button mat-raised-button color="accent" 
        *ngIf="isRandom" (click)="reroll()" i18n="@@game page re-roll random game button">Re-roll Game!</button>
    </div>

    <div class="owner-review" *ngIf="game.ownerBio">
      <app-review [review]="game.ownerBio" 
        [showTitle]="false"></app-review>
    </div>

  </div>

  <div class="gallery">
    <div>
    <app-game-screenshots 
      *ngIf="game" 
      [gameId]="game.id"></app-game-screenshots>
    </div>
    <button mat-raised-button 
      class="ss-mgmt-btn"
      (click)="showScreenshotDialog()" i18n="@@game page add screenshot button">Add Screenshot</button>
    <button mat-raised-button 
      *ngIf="this.user && this.user.isAdmin" 
      class="ss-mgmt-btn"
      (click)="showManageScreenshotDialog()" i18n="@@game page manage screenshot button">Manage Screenshot</button>
  </div>

  <mat-expansion-panel *ngIf="user" [(expanded)]="reviewInputExpanded">
    <mat-expansion-panel-header>
        <mat-panel-title i18n="@@game page review input title">
            Write a Review
        </mat-panel-title>
    </mat-expansion-panel-header>
  <app-review-input 
    [review]="userReview"
    [tags]="userTags"
    (onSubmit)="submitReview($event)"
    ></app-review-input>
  </mat-expansion-panel>
  <app-review-list 
    *ngIf="this.game" 
    [gameId]="this.game.id" [showTitle]="false"></app-review-list>
</div>

<div *ngIf="notFound">
  <h2 i18n="@@game page no game error">No game found by id {{id}}</h2>
</div>

<div *ngIf="!game && !loading && !notFound">
  <h2 i18n="@@game page game load fail error">Unable to load game {{id}}. Please try again later.</h2>
</div>