div.reviews {
  margin-top: 1em;
}

div.rating {
  border: 1px solid black;
  width: 180px;
  font-weight: bold;
  display: inline-block;
  color: #000;
  border-radius: 5px;
  box-shadow: 5px 5px #ddd;
  margin: 0.5em 0.25em;
}

div.rating > div {
  text-align: center;
  margin: 0.25em;
}

div.rating > div.value {
  background-color: #aaa;
  padding: 0.2em;
  margin: 0.25em;
  border-radius: 5px;
  font-weight: normal;
}

div.gallery {
  display: inline-block;
  margin: 0.5em;
}

@media only screen and (max-width: 420px) {
  div.gallery {
    width: 95%;
  }
}

div.game-content {
  display: inline-block; 
  vertical-align: top;
}