<mat-form-field>
    <input matInput placeholder="Title" 
    [(ngModel)]="news.title" name="title" i18n-placeholder="@@news title"/>
</mat-form-field>
<mat-form-field>
<textarea matInput placeholder="News"
    (change)="recompile()" (keyup)="recompile()" 
    [(ngModel)]="input" i18n-placeholder="@@news input box"></textarea>
</mat-form-field>
<button mat-button (click)="submitNews.emit(news)" i18n="@@admin: submit news button">Submit News</button><a mat-button target="_blank" href="https://spec.commonmark.org/0.29" i18n="@@link to markdown specs">Read Markdown Specification</a>
<p i18n="@@news preview" i18n="@@admin: preview news label">Preview:</p>
<app-news-card
    [news]="news"
    [hasPrev]="false">
</app-news-card>