
<p>Here at delicious-fruit be believe that everyone has the right to give their honest opinion on the games we have in our database! There's just a few small rules we ask that you follow.</p>

<h3>Suspension Rules</h3>
<ul>
    <li>Violation of the bolded rules will result in a suspension.</li>
    <li>Suspended reviewing permissions go for 3, 7, 30, 180 days. </li>
    <li>After a 180 day suspension and a user has to have another review removed they are then indefinitely removed.</li>
    <li>After 30 days of not having a review removed the suspended reviewing permission incremental increase is reset.</li>
    <li>Accounts intentionally evading a suspension will be indefinitely suspended without appeal.</li>
    <li>Targeted threats, harassment, or nonsensical and obscene reviews towards a game or creator will have your account indefinitely suspended without appeal.</li>
</ul>

<h3 id="review-rules">Reviewing Games</h3>
<ul>
    <li style="font-weight: bold;">Do not review a game with the intention of making the overall rating of the game to what you think it is.</li>
    <li style="font-weight: bold;">Do not review a game with the intention of harassing, attacking, or targeting the creator or another reviewer.</li>
    <li style="font-weight: bold;">Reviews that attack the type of game (Avoidance, Needle, Remake, Medley etc…) are not allowed and will be removed.</li>
    <li>Do not include or ask for download links in reviews.</li>
    <li>Spoilers that are not tagged will be removed and may be reposted when edited appropriately.</li>
</ul>

<h3 id="submit-rules">Submitting Games</h3>
<ul>
    <li>Game submissions should be done through the <a mat-button color="accent" href="https://www.iwannawiki.com/request">I Wanna Wiki</a></li> 
    <li>Games that are added to the wiki that are not yet on delfruit are in the process of being added or not added for a reason.</li>
    <li>Submission of games that are not listed on delfruit can be submitted through the <a mat-button color="accent" href="https://delicious-fruit.com/submit.php">Delicious Fruit Submission Page</a>. Do not request for a download link to be added, that is a right reserved to the creators themself and should be done through the wiki.</li>
    <li>Games that are found to be untrustworthy will be removed and/or not added in the first place without proof of trustworthiness.</li>
</ul>

<h3>Uploading Screenshots</h3>
<ul>
    <li>Do not upload clear screenshots.</li> 
    <li>Do not upload spoilers (secrets, clear screens, etc…) will be removed if found to be significant.</li> 
    <li>When taking a screenshot to upload, please consider using the ingame screenshot button (F9 by default). If it doesn’t exist, please include a screenshot of the game itself and not include the windows border.</li> 
    <li>If a screenshot for the game doesn’t exist, consider uploading a screenshot of the title screen.</li> 
    <li>Do not submit too many similar screenshots.</li> 
    <li>Do not upload a screenshot of glitches or bugs that the game might contain.</li> 
</ul>

<h3>Accounts</h3>
<ul>
    <li>Do not impersonate another user of the community.</li> 
    <li>If your permissions have been revoked, contact an administrator. Do not create a new account.</li> 
    <li>If you are found creating multiple accounts without permission your old and new account will be suspended indefinitely.</li> 
    <li>Please do not use a throwaway email account. </li> 
    <li>We don’t reset passwords for accounts that don’t have a linked email or use a throwaway email.</li> 
</ul>