
<p i18n="@@guidelines header">Here at Delicious-Fruit be believe that everyone has the right to give their honest opinion on the games we have in our database! There's just a few small rules we ask that you follow.</p>

<h3 i18n="@@guidelines suspension header">Suspension Rules</h3>
<ul>
    <li i18n="@@guidelines suspension part 1">Violation of the bolded rules will result in a suspension.</li>
    <li i18n="@@guidelines suspension part 2">Suspended reviewing permissions go for 3, 7, 30, 180 days. </li>
    <li i18n="@@guidelines suspension part 3">After a 180 day suspension and a user has to have another review removed they are then indefinitely removed.</li>
    <li i18n="@@guidelines suspension part 4">After 30 days of not having a review removed the suspended reviewing permission incremental increase is reset.</li>
    <li i18n="@@guidelines suspension part 5">Accounts intentionally evading a suspension will be indefinitely suspended without appeal.</li>
    <li i18n="@@guidelines suspension part 6">Targeted threats, harassment, or nonsensical and obscene reviews towards a game or creator will have your account indefinitely suspended without appeal.</li>
</ul>

<h3 id="review-rules" i18n="@@guidelines reviewing header">Reviewing Games</h3>
<ul>
    <li i18n="@@guidelines reviewing part 1" style="font-weight: bold;">Do not review a game with the intention of making the overall rating of the game to what you think it is.</li>
    <li i18n="@@guidelines reviewing part 2" style="font-weight: bold;">Do not review a game with the intention of harassing, attacking, or targeting the creator or another reviewer.</li>
    <li i18n="@@guidelines reviewing part 3" style="font-weight: bold;">Reviews that attack the type of game (Avoidance, Needle, Remake, Medley etc…) are not allowed and will be removed.</li>
    <li i18n="@@guidelines reviewing part 4">Do not include or ask for download links in reviews.</li>
    <li i18n="@@guidelines reviewing part 5">Spoilers that are not tagged will be removed and may be reposted when edited appropriately.</li>
</ul>

<h3 id="submit-rules" i18n="@@guidelines submitting header">Submitting Games</h3>
<ul>
    <li i18n="@@guidelines reviewing part 1">New game submissions should be done through the <a mat-button color="accent" href="https://www.iwannawiki.com/request">I Wanna Wiki</a></li> 
    <li i18n="@@guidelines reviewing part 2">Games that are added to the wiki that are not yet on delfruit are in the process of being added or not added for a reason.</li>
    <li i18n="@@guidelines reviewing part 3">Submission of games that are not listed on delfruit can be submitted through the <a mat-button color="accent" href="https://delicious-fruit.com/submit.php">Delicious Fruit Submission Page</a>. Do not request for a download link to be added, that is a right reserved to the creators themself and should be done through the wiki.</li>
    <li i18n="@@guidelines reviewing part 4">Games that are found to be untrustworthy will be removed and/or not added in the first place without proof of trustworthiness.</li>
</ul>

<h3 i18n="@@guidelines uploading screenshots header">Uploading Screenshots</h3>
<ul>
    <li i18n="@@guidelines uploading screenshots part 1">Do not upload clear screenshots.</li> 
    <li i18n="@@guidelines uploading screenshots part 2">Do not upload spoilers (secrets, clear screens, etc…) will be removed if found to be significant.</li> 
    <li i18n="@@guidelines uploading screenshots part 3">When taking a screenshot to upload, please consider using the ingame screenshot button (F9 by default). If it doesn’t exist, please include a screenshot of the game itself and not include the windows border.</li> 
    <li i18n="@@guidelines uploading screenshots part 4">If a screenshot for the game doesn’t exist, consider uploading a screenshot of the title screen.</li> 
    <li i18n="@@guidelines uploading screenshots part 5">Do not submit too many similar screenshots.</li> 
    <li i18n="@@guidelines uploading screenshots part 6">Do not upload a screenshot of glitches or bugs that the game might contain.</li> 
</ul>

<h3 i18n="@@guidelines account header">Accounts</h3>
<ul>
    <li i18n="@@guidelines account part 1">Do not impersonate another user of the community.</li> 
    <li i18n="@@guidelines account part 2">If your permissions have been revoked, contact an administrator. Do not create a new account.</li> 
    <li i18n="@@guidelines account part 3">If you are found creating multiple accounts without permission your old and new account will be suspended indefinitely.</li> 
    <li i18n="@@guidelines account part 4">Please do not use a throwaway email account. </li> 
    <li i18n="@@guidelines account part 5">We don’t reset passwords for accounts that don’t have a linked email or use a throwaway email.</li> 
</ul>