<!--
<img [src]="source" class="upload-img"
    appDragDrop (onFileDropped)="handleFileInput($event)">
<div class="form-group">
    <label for="file">Choose File</label>
    <input type="file" id="file" class="upload-img"
        (change)="handleFileInput($event.target.files)">
</div>
<mat-form-field class="example-full-width">
    <textarea matInput placeholder="Description (Optional)" 
        [(ngModel)]="data.description" name="description"></textarea><br>
</mat-form-field>
<button mat-raised-button color="primary"
    [mat-dialog-close]="data"  
    [disabled]="!data.file">Upload</button>
-->


<div class="upload-img" (click)="fileInput.click()" 
    [style.background-image]="getImage()"
    appDragDrop (onFileDropped)="handleFileInput($event)">
    <input hidden type="file" #fileInput 
        (change)="handleFileInput($event.target.files)">
</div>

<mat-form-field class="example-full-width">
    <textarea matInput placeholder="Description (Optional)" i18n-placeholder="screenshot description for upload"
        [(ngModel)]="data.description" name="description"></textarea><br>
</mat-form-field>
<div>
<button mat-raised-button color="primary"
    [mat-dialog-close]="data"  
    [disabled]="!data.file" i18n="upload screenshot button">Upload</button>
</div>