<mat-card>
    <mat-card-header>
        <mat-card-title>{{news.title}}</mat-card-title>
        <mat-card-subtitle>{{news.date_created | date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content [innerHtml]="news.short">
    </mat-card-content>
    <mat-card-actions class="action-bar">
      <span><button mat-button [disabled]="!hasPrev" (click)="prev.emit()"><i class="material-icons">navigate_before</i></button></span>
      <span class="fill-remaining-space"></span>
      <!--
      <span><button mat-button>test</button></span>
      <span class="fill-remaining-space"></span>
      -->
      <span><button mat-button (click)="next.emit()"><i class="material-icons">navigate_next</i></button></span>
    </mat-card-actions>
</mat-card>