<ng-container *ngIf="user">
    <mat-card *ngFor="let perm of permissions">
        <mat-card-header>
          <mat-card-title>{{perm.permission_id}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p *ngIf="!isRevoked(perm)">
                Allowed
            </p>
            <p *ngIf="isRevoked(perm)">
                REVOKED UNTIL {{perm.revoked_until | date}} (Remaining: {{perm.revoked_until | duration}})
            </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="showDialog(perm)">Revoke</button>
          <button mat-raised-button color="primary" (click)="showDialogGrant(perm)" [disabled]="!isRevoked(perm)">Grant</button>
        </mat-card-actions>
      </mat-card>
</ng-container>

<ng-container *ngIf="!user" i18n="@@admin: missing user for display">
    No user!
</ng-container>