<ng-container *ngIf="user">
    <section><mat-checkbox [(ngModel)]="user.canReport" i18n>Can Report</mat-checkbox></section>
    <section><mat-checkbox [(ngModel)]="user.canSubmit" i18n>Can Submit</mat-checkbox></section>
    <section><mat-checkbox [(ngModel)]="user.canReview" i18n>Can Review</mat-checkbox></section>
    <section><mat-checkbox [(ngModel)]="user.canScreenshot" i18n>Can Screenshot</mat-checkbox></section>
    <section><mat-checkbox [(ngModel)]="user.banned" i18n>Banned</mat-checkbox></section>
    <button mat-raised-button i18n>Update</button>
</ng-container>
<ng-container *ngIf="!user" i18n="missing user for container">
    No user!
</ng-container>