<mat-form-field class="full-width">
<mat-chip-list #tagsList aria-label="Tags">
    <mat-chip *ngFor="let tag of tags" 
        [selectable]="true" [removable]="true" selected
        (removed)="remove.emit(tag)"
        [color]="tag.id?'':'accent'">
        {{tag.name}}
        <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input placeholder="Tags"
        [matChipInputFor]="tagsList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addTag($event)">
</mat-chip-list>
</mat-form-field>