<ng-container *ngIf="review">
<mat-card [routerLink]="'/game/'+review.game_id">
  <mat-card-title>
      {{review.game_name}}
  </mat-card-title>
  <mat-card-subtitle>
    <div class="name">
      By: <a mat-button [routerLink]="'/user/'+review.user_id">{{review.user_name}}</a>
    </div>
    <div class="date">{{review.date_created | date}}</div>
  </mat-card-subtitle>

  <mat-card-content>
    <div class="comment">{{review.comment}}</div>
    
    <app-tag-list 
      *ngIf="tags" 
      [tags]="tags">
    </app-tag-list>

    <div class="rate">
      <span class="valign">Rating: {{review.rating/10 || 'N/A'}}</span>
      <span class="hearts">
        <span [style.width]="(170*review.rating/100)+'px'"></span>
      </span>
    </div> 
    <div class="rate">
      <span class="valign">Difficulty: {{review.difficulty || 'N/A'}}</span>
      <span class="stars">
          <span [style.width]="(170*review.difficulty/100)+'px'"></span>
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="user">
      <button mat-button *ngIf="!isLiked" (click)="likeReview()">
        <i class="material-icons">thumb_up</i> {{review.like_count}}
      </button>
      <button mat-raised-button color="primary" *ngIf="isLiked" (click)="unlikeReview()">
        <i class="material-icons">thumb_up</i> {{review.like_count}}
      </button>
      <button mat-button>Reply</button>
  </mat-card-actions>
</mat-card>
</ng-container>
<ng-container *ngIf="!review">
  No review
</ng-container>