<mat-card [routerLink]="'/game/'+review.game_id">
  <mat-card-title>
      {{review.game_name}}
  </mat-card-title>
  <mat-card-subtitle>
    <div class="name">
      By: <a mat-button [routerLink]="'/user/'+review.user_id">{{review.user_name}}</a>
    </div>
    <div class="date">{{review.date_created | date}}</div>
  </mat-card-subtitle>

  <mat-card-content>
    <div class="comment">{{review.comment}}</div>

    <div class="rate">Rating: {{review.rating/10 || 'N/A'}}</div> 
    <div class="rate">Difficulty: {{review.difficulty || 'N/A'}}</div>
  </mat-card-content>
</mat-card>