div.date {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
}

div.rate {
  display: inline-block;
  margin-right: 1em;
}
mat-card {
  margin-bottom: 0.5em;
  cursor: pointer;
}

span.hearts {
  display: inline-block;
  background: url(/assets/images/hearts.png) 0 0px repeat-x;
  width: 170px;
  height: 16px;
}

span.hearts span {
  display: inline-block;
  background: url(/assets/images/hearts.png) 0 -16px repeat-x;
  height: 16px;
}

span.stars {
  display: inline-block;
  background: url(/assets/images/stars.png) 0 0px repeat-x;
  width: 170px;
  height: 16px;
}

span.stars span {
  display: inline-block;
  background: url(/assets/images/stars.png) 0 -16px repeat-x;
  height: 16px;
}