mat-radio-button {
  margin: 0 15px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.paging-buttons {
  margin: 1rem;
}

.paging-buttons button {
  margin-right: 3rem;
}