<form (ngSubmit)="ok()">
    <h1 mat-dialog-title i18n>Forgot Your Password?</h1>
    <div mat-dialog-content>
        <p i18n>Forget your password? No worries! Enter your account username and email here and we'll send you a reset link.</p>
        <mat-form-field>
            <input matInput placeholder="Username" name="username"
                type="text" [(ngModel)]="data.username" i18n-placeholder />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" name="email"
                type="text" [(ngModel)]="data.email" i18n-placeholder />
        </mat-form-field>
        <app-captcha-notice></app-captcha-notice>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="cancel()" i18n>Cancel</button>
        <button mat-raised-button 
            color="primary" 
            [mat-dialog-close]="data" 
            type="submit" i18n>Ok</button>
    </div>
</form>