<h2 i18n="@@game list header">Game List</h2>

<mat-form-field>
  <input matInput type="text" placeholder="Filter" [(ngModel)]="filter" 
    i18n-placeholder="@@game list search filter label">
</mat-form-field>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <ng-container i18n="@@advanced search header">Advanced Search</ng-container>
      <ng-container *ngIf="!deepEqual(searchParams,defaultParams)" i18n="@@game list advanced search filter notification">(Filters Applied)</ng-container>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field class="full-width">
    <input matInput type="text" placeholder="Title" 
      [(ngModel)]="title" i18n-placeholder="@@advanced search title label">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput type="text" placeholder="Author" 
      [(ngModel)]="author" i18n-placeholder="@@advanced search author label">
  </mat-form-field>

  Minimum Rating: {{minrate | rating}}<br>
  <mat-slider min="-1" max="100" step="1" [(ngModel)]="minrate" class="full-width"></mat-slider>
  Maximum Rating: {{maxrate | rating}}<br>
  <mat-slider min="-1" max="100" step="1" [(ngModel)]="maxrate" class="full-width"></mat-slider>

  Minimum Difficulty: {{mindiff | difficulty}}<br>
  <mat-slider min="-1" max="100" step="1" [(ngModel)]="mindiff" class="full-width"></mat-slider>
  Maximum Difficulty: {{maxdiff | difficulty}}<br>
  <mat-slider min="-1" max="100" step="1" [(ngModel)]="maxdiff" class="full-width"></mat-slider>

  <app-tag-input 
    [tags]="tags"
    (remove)="removeTag($event)"
    (tagStaged)="addTag($event)"
  ></app-tag-input>

  <ng-container i18n="@@advanced search has download label">Has Download:</ng-container>
  <mat-radio-group [(ngModel)]="hasDownload" class="full-width">
    <mat-radio-button value="either" i18n="@@advanced search both has and doesn't have download">Either</mat-radio-button>
    <mat-radio-button value="yes" i18n="@@advanced search has download">Yes</mat-radio-button>
    <mat-radio-button value="no" i18n="@@advanced search doesn't have download">No</mat-radio-button>
  </mat-radio-group>

  <div>
  <ng-container i18n="@@advanced search release date label">Released Between:</ng-container>
  <mat-form-field>
    <input matInput [matDatepicker]="startPicker" [(ngModel)]="startdate" 
      placeholder="Start Date" i18n-placeholder="@@advanced search release date start label">
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
  </mat-form-field>
  to
  <mat-form-field>
    <input matInput [matDatepicker]="endPicker" [(ngModel)]="enddate" 
      placeholder="End Date" i18n-placeholder="@@advanced search release date end label">
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>
  </div>

  <button mat-button (click)="clearAll()" i18n="@@advanced search clear filters button">Clear Filters</button>

</mat-expansion-panel>

<app-dashboard-games
[params]="searchParams"
></app-dashboard-games>