<p i18n="@@special thanks page header">The Delfruit team would like to thank the following people for their help in making this site what it is today.</p>
<div><a mat-button target="_blank" href="https://www.twitch.tv/tehjman1993">Tehjman1993</a></div>
<div><a mat-button target="_blank" href="https://www.twitch.tv/patrickgh3">Patrickgh3</a></div>
<div><a mat-button target="_blank" href="https://www.twitch.tv/thenader2">Thenader2</a></div>
<div><a mat-button target="_blank" href="https://www.twitch.tv/TheRandomErik">Erik</a></div>
<div><a mat-button target="_blank" href="https://www.twitch.tv/onynekyu">Onynekyu</a></div>
<div><a mat-button target="_blank" href="https://delicious-fruit.com/profile.php?u=411">ElZorgo</a></div>
<div><a mat-button target="_blank" href="https://www.twitch.tv/lss40">Lss</a></div>
<div><a mat-button target="_blank" href="https://www.twitch.tv/quentinjanuel">QuentinJanuel</a></div>
<div><a mat-button target="_blank" href="https://www.twitch.tv/artardss">Artardss</a></div>
<div><a mat-button target="_blank" href="https://www.twitch.tv/norrnal">Normal</a></div>
<div><a mat-button target="_blank" href="https://twitter.com/shinobu_iw">Shinobu</a></div>
<div><a mat-button target="_blank" href="https://www.twitch.tv/sudnep">Sudnep</a></div>