<div class="container">
  <table mat-table [dataSource]="users" *ngIf="!loading">
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef i18n="@@user list name header">User</th>
      <td mat-cell *matCellDef="let user">
        <a mat-button routerLink="/user/{{user.id}}">{{user.name}}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="joined">
      <th mat-header-cell *matHeaderCellDef class="no-mobile" i18n="@@user list join date header">Join Date</th>
      <td mat-cell *matCellDef="let user" class="no-mobile">{{user.dateCreated}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>  
  <div *ngIf="loading" i18n="@@user list loading message">Loading...
  </div>
</div>