<div *ngIf="loading">
  <h2>Loading...</h2>
</div>

<div *ngIf="user">
    <h2 *ngIf="!isMe">{{user.name}}'s Profile</h2>
    <h2 *ngIf="isMe">My Profile</h2>
  <mat-tab-group>
      <mat-tab label="Profile">
          <p>Joined on: xxx</p>
          <p>Bio:</p>
          <p>{{user.bio}}</p>
          <p>
            I've submitted:<br>
            195 Ratings!<br>
            179 Reviews!<br>
            1126 Screenshots!			
          </p>
          <a *ngIf="user.twitchLink" [href]="'https://www.twitch.tv/'+user.twitchLink">
            <img src="assets/images/twitch16.png"> Twitch Stream
          </a><br>
          <a *ngIf="user.youtubeLink" [href]="'https://www.youtube.com/user/'+user.youtubeLink">
            <img src="assets/images/youtube16.png"> Youtube Channel
          </a><br>
          <a *ngIf="user.twitterLink" [href]="'https://www.twitter.com/'+user.twitterLink">
            <img src="assets/images/twitter16.png"> Twitter
          </a><br>
          <a href="/report.php?t=user&amp;id=746">Report this user</a>
      </mat-tab>
      <mat-tab label="Ratings">
            <app-dashboard-games [reviewedByUserId]="user.id"></app-dashboard-games>
      </mat-tab>
      <mat-tab label="Reviews">
          <app-review-list [userId]="user.id"></app-review-list>
      </mat-tab>
      <mat-tab label="Games">
          <ng-template matTabContent>Content</ng-template>
      </mat-tab>
      <mat-tab label="Badges">
        <ng-template matTabContent>Content</ng-template>
      </mat-tab>
      <mat-tab label="Lists">
        <ng-template matTabContent>Content</ng-template>
      </mat-tab>
      <mat-tab label="Admin">
        <ng-template matTabContent>Content</ng-template>
      </mat-tab>
    </mat-tab-group>
</div>    

<div *ngIf="notFound">
  <h2>No user found by id {{id}}</h2>
</div>

<div *ngIf="!user && !loading && !notFound">
  <h2>Unable to load user {{id}}. Please try again later.</h2>
</div>