::ng-deep.mat-tab-label {
    min-width: 120px!important;
}

div.badge-animator {
    transition: border-width .5s ease-in;
    transition: background-color .5s ease-in;
}

.badge-container {
    padding: 2rem;
    margin:0.5rem;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
}

.selected {
    border: 3px solid #773;
    background-color: #331;
}

::ng-deep.badge-class {
    transform: scale(2,2);
}