<div *ngIf="loading">
  <h2 i18n="@@user is loading">Loading...</h2>
</div>

<div *ngIf="user">
    <h2 *ngIf="!isMe" i18n="@@other user's profile">{{user.name}}'s Profile</h2>
    <h2 *ngIf="isMe" i18n="@@my profile">My Profile</h2>
  <mat-tab-group>
      <mat-tab label="Profile">
          <p i18n="@@join date">Joined on: xxx</p>
          <p i18n="@@user bio label">Bio:</p>
          <p>{{user.bio}}</p>
          <p>
            I've submitted:<br>
            195 Ratings!<br>
            179 Reviews!<br>
            1126 Screenshots!			
          </p>
          <a *ngIf="user.twitchLink" [href]="'https://www.twitch.tv/'+user.twitchLink">
            <img src="assets/images/twitch16.png"> <ng-container i18n="@@link to twitch">Twitch Stream</ng-container>
          </a><br>
          <a *ngIf="user.youtubeLink" [href]="'https://www.youtube.com/user/'+user.youtubeLink">
            <img src="assets/images/youtube16.png"> <ng-container i18n="@@link to youtube">Youtube Channel</ng-container>
          </a><br>
          <a *ngIf="user.twitterLink" [href]="'https://www.twitter.com/'+user.twitterLink">
            <img src="assets/images/twitter16.png"> <ng-container i18n="@@link to twitter">Twitter</ng-container>
          </a><br>
          <a href="/report.php?t=user&amp;id=746" i18n="@@report user button">Report this user</a>
      </mat-tab>
      <mat-tab label="Ratings">
            <app-dashboard-games [params]="gameListParams"></app-dashboard-games>
      </mat-tab>
      <mat-tab label="Reviews">
          <app-review-list [userId]="user.id"></app-review-list>
      </mat-tab>
      <mat-tab label="Games">
          <ng-template matTabContent>
            <app-dashboard-games [params]="ownerListParams"></app-dashboard-games>
          </ng-template>
      </mat-tab>
      <mat-tab label="Badges">
        <ng-template matTabContent>
          <div 
            class="badge-container badge-animator" 
            [class.selected]="badge.badge_id == user.selected_badge" 
            (click)="select(badge.badge_id)"
            *ngFor="let badge of badges">
            <app-badge [id]="badge.badge_id" [imgClass]="'badge-class'"></app-badge>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Lists">
        <ng-template matTabContent>Content</ng-template>
      </mat-tab>
      <mat-tab label="Admin">
          <app-user-admin-control [user]="user"></app-user-admin-control>
      </mat-tab>
    </mat-tab-group>
</div>    

<div *ngIf="notFound">
  <h2 i18n="@@profile: no user found error">No user found by id {{id}}</h2>
</div>

<div *ngIf="!user && !loading && !notFound">
  <h2 i18n="@@profile: can't load user error">Unable to load user {{id}}. Please try again later.</h2>
</div>