<h2>News</h2>
<mat-tab-group [selectedIndex]="newsIndex">
  <mat-tab *ngFor="let curNews of news; index as i">
        <app-news
            [news]="curNews" [hasPrev]="i>0"
            (prev)="prev()" (next)="next()"></app-news>
  </mat-tab>
</mat-tab-group>

<h2>Latest Games</h2>
<app-dashboard-games [params]="gameListParams"></app-dashboard-games>

<a mat-raised-button routerLink="/game/random">Random Game!</a>

<app-review-list></app-review-list>

<a mat-raised-button routerLink="/reviews">See all reviews</a>