<div>
  <form class="example-form">
    My Rating: {{review.rating | rating}}<br>
    <mat-slider min="-1" max="100" step="1" value="-1"
      [(ngModel)]="review.rating" name="rating"
      (input)="refreshRate($event)"></mat-slider><br>

    My Difficulty: {{review.difficulty | difficulty}}<br>
    <mat-slider min="-1" max="100" step="1" value="-1" 
      [(ngModel)]="review.difficulty" name="difficulty"
      (input)="refreshDiff($event)"></mat-slider><br>

    <mat-form-field class="example-full-width">
    <textarea matInput placeholder="My Review" 
      [(ngModel)]="review.comment" name="comment"></textarea><br>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-chip-list #tagsList aria-label="Tags">
        <mat-chip *ngFor="let tag of tags" 
            [selectable]="true" [removable]="true" selected
            (removed)="removeTag(tag)"
            [color]="tag.id?'':'accent'">
          {{tag.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Tags"
                [matChipInputFor]="tagsList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="addTag($event)">
      </mat-chip-list>
    </mat-form-field>

    <button mat-raised-button i18n (click)="update()">Update</button>

  </form>
</div>