<div>
  <form class="example-form">
    <ng-container i18n>My Rating: {{review.rating | rating}}</ng-container>
    <br>
    <mat-slider min="-1" max="100" step="1" value="-1"
      [(ngModel)]="review.rating" name="rating"
      (input)="refreshRate($event)"></mat-slider><br>

    <ng-container i18n>My Difficulty: {{review.difficulty | difficulty}}</ng-container>
    <br>
    <mat-slider min="-1" max="100" step="1" value="-1" 
      [(ngModel)]="review.difficulty" name="difficulty"
      (input)="refreshDiff($event)"></mat-slider><br>

    <mat-form-field class="example-full-width">
    <textarea matInput placeholder="My Review" i18n-placeholder
      [(ngModel)]="review.comment" name="comment"></textarea><br>
    </mat-form-field>

    <app-tag-input 
      [tags]="tags"
      (remove)="removeTag($event)"
      (tagStaged)="addTag($event)"
    ></app-tag-input>

    <button mat-raised-button i18n (click)="update()" i18n>Update</button>

  </form>
</div>